QtProject.conf
Thunar/
VirtualBox/
autostart/
configstore/
dconf/
enchant/
eog/
evolution/
fontconfig/
gnome-initial-setup-done
goa-1.0/
ibus/
libaccounts-glib/
nautilus/
pulse/
update-notifier/
user-dirs.dirs
xfce4/
user-dirs.locale
rofi.backup/

